body {
    background-color: #D18D28;
}

.q-img {
    height: 300px;
}

.q-field__messages{
    font-weight: bolder;
}

.q-toggle__label{
    color: rgba(0,0,0,0.6);
}

@media screen and (min-width: 720px) {
    body {
        padding-left: 100px;
        padding-right: 100px;
    }
}